.message {
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}

.user {
    justify-content: right;
}


.message-left {
    display: flex;
    background-color: rgb(34, 49, 188);
    border-radius: 50%;
    padding: .5rem;
    inline-size: 1rem;
    block-size: 1rem;
    justify-content: center;
    align-items: center;
}

.message-right {
    background-color: var(--gray);
    border-end-end-radius: 1rem;
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;

    padding: 1rem;
    max-inline-size: 30rem;
    position: relative;
}

.message-right::before {

    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 100%;

    inline-size: 12px;
    block-size: 12px;
    box-sizing: border-box;
    border-inline-start: 6px solid transparent;
    border-inline-end: 6px solid var(--gray);
    border-block-start: 6px solid var(--gray);
    border-block-end: 6px solid transparent;

}

.user-text {
    border-start-end-radius: 0;
    border-end-end-radius: 1rem;
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
}

.user-text::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 100%;

    inline-size: 12px;
    block-size: 12px;
    box-sizing: border-box;
    border-inline-start: 6px solid var(--gray);
    border-inline-end: 6px solid transparent;
    border-block-start: 6px solid var(--gray);
    border-block-end: 6px solid transparent;
}